data_dir: "/var/lib/vector"

api:
  enabled: true
  address: "127.0.0.1:8686"

sources:
  var_logs:
    type: "file"
    include:
      - "/var/log/*.log"
    ignore_older: 86400          # 1 day

sinks:
  clickhouse:
    inputs:
      - "var_logs"
    type: "clickhouse"
    endpoint: "http://{{ hostvars[groups['clickhouse'][0]].inventory_hostname }}:8123"
    table: "logs"