# скорость IO важнее сохранности данных. Можно и метод O_DIRECT, но он мало где стабильно поддерживается
# https://dev.mysql.com/doc/refman/8.0/en/optimizing-innodb-diskio.html
innodb_flush_method = O_DSYNC

# буфер журнала записывается и сбрасывается на диск один раз в секунду. Максимально повысит производительность, но и намного опаснее, чем значение = 2
innodb_flush_log_at_trx_commit = 0

# хранить все таблицы в виде отдельных файлов, а размер буфера значительно уменьшится и будет содержать только метаданные.
innodb_file_per_table = ON
# повышаем уровень компрессии за счет оверхеда CPU
innodb_compression_level = 9

# размер буффера с незакомиченными транзакциями 1 Мб;
innodb_log_buffer_size = 1M

# буффер кеширования 30% от ОЗУ; Также влияет на скорость I/O
innodb_buffer_pool_size = 2310M

# размер файла логов операций 100 Мб.
innodb_log_file_size = 100M